.photo-grid {
    display: grid;
    margin: 92px auto;
    max-width: 1184px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
    gap: 16px;
}

@media screen and (max-width:1280px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
        margin: 92px 48px;
    }
}

@media screen and (max-width:1024px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        gap: 14px;
    }
}

@media screen and (max-width:932px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(352px, 352px));
        margin: 88px 24px;
    }
}

@media screen and (max-width:768px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(352px, 352px));
        margin: 88px 24px;
        gap: 16px;
    }
}

@media screen and (max-width:400px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(288px, 288px));
        gap: 12px;
        margin: 64px 16px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid {  
        grid-template-columns: repeat(auto-fit, minmax(288px, 288px));
        gap: 12px;
        margin: 64px 16px;
    }
}