.photo-grid {
    display: grid;
    margin: 92px auto;
    max-width: 1184px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
    gap: 16px;
}

@media screen and (max-width:1180px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width:932px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 352px));
        margin-top: 88px;
        max-width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width:720px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 288px));
        gap: 12px;
        margin-top: 64px;
        max-width: 288px;
    }
}