.footer__copyright {
    padding: 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 730px) {
    .footer__copyright {
        line-height: 14px;
        display: block;
        text-align: left;
        margin-left: 16px;
    }
}