.photo-grid__iteam {
    max-width: 284px;
    object-fit: cover;
}

@media screen and (max-width:1180px) {
    .photo-grid__iteam {
        max-width: 300px;
        max-height: 225px;
    }
}

@media screen and (max-width:932px) {
    .photo-grid__iteam {
        max-width: 352px;
        max-height: 264px;
    }
}

@media screen and (max-width:720px) {
    .photo-grid__iteam {
        max-width: 288px;
        max-height: 216px;
    }
}